# --- UNITY STANDART GEREKSİZLERİ (Bunlar yüklenmesin) ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# --- IDE ve KOD EDİTÖRÜ ÇÖPLERİ ---
# Visual Studio ve VS Code'un oluşturduğu geçici dosyalar
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- İŞLETİM SİSTEMİ ÇÖPLERİ ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- DİĞER GEÇİCİ DOSYALAR ---
*.apk
*.aab
*.unitypackage