# --- ÖNCE HER ŞEYİ YASAKLA ---
/*

# --- SADECE ŞUNLARA İZİN VER ---
# 1. .gitignore dosyasının kendisine izin ver
!.gitignore

# 2. Oyunun Ayar Dosyalarına İzin Ver (Burası olmazsa oyun bozulur!)
!/ProjectSettings/
!/Packages/

# 3. Assets Klasörüne Gir...
!/Assets/
/Assets/*

# ...Ama Assets içinde SADECE 'General' Klasörüne ve Meta dosyalarına izin ver
!/Assets/General/
!/Assets/General/**

# Meta dosyaları Unity için şarttır, onları engelleme
!*.meta